body, html {
  height: 100%;
  margin: 0;
  background-color:  rgb(2, 6, 36) /* Light gray background */
}

.auth-form {
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  border: #ccc 1px solid;
  border-color: rgb(255, 255, 255);
  background: transparent;
  border-radius: 8px;
  box-sizing: border-box;
}

.auth-form h2 {
  align-self: flex-start;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: white;
}

.auth-form input {
  align-self: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  margin-left: 120px;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  background-color: ccc;
  color: black;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.redirectSignUp {
  margin-left: 120px;
  margin-top: 50px;
  font-size: 16px;
  color: white;
}

.redirectSignUp a {
  text-decoration: none;
  color: rgb(202, 195, 195);
}